<h3>Please choose your rental criteria below</h3>

<%= form_tag("/listings/search", method: "GET") do %>

<%= label_tag(:zip, "Zip Code") %>
<%= text_field_tag(:zip) %>
<br>

<%= label_tag(:beds, "Number of Bedrooms") %>
<%= text_field_tag(:beds) %>
<br>

<%= label_tag(:baths, "Minimum Number of Bathrooms") %>
<%= text_field_tag(:baths) %>
<br>

<%= label_tag(:min_price, "Minimum Price") %>
<%= text_field_tag(:min_price) %>
<br>

<%= label_tag(:min_price, "Maxiumum Price") %>
<%= text_field_tag(:max_price) %>
<br>

<%= submit_tag("Search") %>

<% end %>