<% if @final_output.first.nil? %>
  <h3><%= "No results Found! Please lower expectations and try again!" %></h3>

  <% else %>

  <h3>Newest results in <%= @final_output.first[:neighborhood] %>!</h3>

  <% @final_output.each do |listing| %>

  <h3><a href="<%= listing[:listing_link] %>"><p><%= listing[:address] %></p></a></h3>

     <a href="<%= listing[:listing_link] %>"><img src="<%=listing[:image_url]%>"></a>
     
     <p><%= listing[:price] %></p>
     <p><%= listing[:beds] %></p>
     <p><%= listing[:baths] %></p>

  <% end %>
<% end %>