<h3>Please choose your rental criteria <%= if @area 
"in #{@area.title}" end%></h3>

<%= form_tag("/listings/search", method: "GET") do %>

<%= hidden_field_tag(:zip, params[:zip]) %>
<%= hidden_field_tag(:areas, params[:areas]) %>

<br>

<p><%= label_tag(:beds, "Number of Bedrooms") %>
<%= text_field_tag(:beds) %></p>

<p><%= label_tag(:baths, "Minimum Number of Bathrooms") %>
<%= text_field_tag(:baths) %></p>

<p><%= label_tag(:min_price, "Minimum Price") %>
<%= text_field_tag(:min_price) %></p>

<p><%= label_tag(:min_price, "Maxiumum Price") %>
<%= text_field_tag(:max_price) %></p>

<%= submit_tag("Search") %>

<% end %>