<% if @final_output.first.nil? %>
  <h3><%= "No results Found! Please lower your expectations and revise the criteria!" %></h3>

  <% else %>

  <h3>Newest results in <%= @final_output.first[:neighborhood] %>!</h3>

  <% @final_output.each do |listing| %>

    <%= form_tag(areas_path, method:"POST") do %>
      <h3><a href="<%= listing[:listing_link] %>"><p><%= listing[:address] %></p></a></h3>

      <a href="<%= listing[:listing_link] %>"><img src="<%=listing[:image_url]%>"></a>
       
      <p><%= listing[:price] %></p>
      <%= hidden_field_tag 'price', listing[:price] %>
      
      <p><%= listing[:beds] %></p>
      <%= hidden_field_tag 'beds', listing[:beds] %>
      
      <p><%= listing[:baths] %></p>
      <%= hidden_field_tag 'baths', listing[:baths] %>
      
      <%= submit_tag "Favorite this Apartment!" %>
    <% end %>

  <% end %>
<% end %>