<h3>Choose Your Desired NYC Area!</h3>

<br>

<%= form_tag("/listings", method: "GET") do %>

  <%= label_tag(:zip, "Enter Zip Code") %>
  <%= text_field_tag(:zip) %>
  <br>
  <%= submit_tag("Find By Zip") %>

<% end %>

<p>or Search by Area</p>

<!-- Option here to find by selecting area -->

 <ul>
  <% @areas.find_all do |area| %>
    <% case area.level %>
      <% when 1 %>
      <li>
        <%= link_to "#{area.title}", area_path(area) %>
      </li>
    <% end %>
  <% end %>
</ul>
