<h3>Choose Your Desired NYC Area!</h3>

<br>
<%= form_tag("/listings", method: "GET") do %>

  <%= label_tag(:zip, "Enter Zip Code") %>
  <%= text_field_tag(:zip) %>
  <input type="submit" value="Find By Zipcode" />

<% end %>

<!-- Option here to find by selecting area -->
<p>Or</p>

<%= form_tag("/listings", method: "GET") %>

  <%= label_tag "Select NYC Borough" %>
  <%= select_tag "areas", options_from_collection_for_select(@areas, "id", "title"), {multiple: true} %>
  <input type="submit" value="Select Areas" />
</form>

