<h3>Choose part of <%= @area.title %></h3>

<!-- <ul>
  <% @areas.each do |area| %>
    <% case area.se_parent_id %>
      <% when @area.se_id %>
      <li>
        <%= link_to "#{area.title}", area_path(area) %>
      </li>
    <% end %>
  <% end %>
</ul> -->

<!-- <p><%= link_to "Choose your Search Criteria", listings_path %></p> -->

<p>
  <form action="listings" method="GET">
    <%= label_tag "Select Neighborhood" %>
    <%= select_tag "areas", options_from_collection_for_select(@areas.where(level: 2), "id", "title") %>
    <input type="submit" value="Select Areas" />
  </form>
</p>