<!DOCTYPE html>
<html>
<head>
  <title>AptAlertNyc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div>
    <div>
      <div id="wrapper">
        <h1><%= link_to "APT Alerts", root_path%></h1>
        <h1> </h1>
        <div class="blackbox">
          <div class="black">
            <h2><%= link_to "NYC", root_path%></h2>
          </div>
        </div>
      </div>

    </div>

    <% if logged_in? %>
      <p class="login"><%= link_to("Logout, #{current_user.first_name}", "/session", method: "delete") %></p>  
    <% else %>
      <p class="login"><%= link_to("Please Login!","/login") %></p><br>
      <p class="login"><%= link_to("Register Here", new_user_path) %></p>
    <% end %>
  </div>
  
</header>

<div class="content">
<%= yield %>
</div>

</body>
</html>
