<!DOCTYPE html>
<html>
<head>
  <title>AptAlertNyc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1><%= link_to "NYC APT Alerts", root_path%></h1>

<%= link_to("Please Log In!", "/users/new") %>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

</header>

<%= yield %>

</body>
</html>
